body {
    font-family: 'Roboto', sans-serif;
}

#app-root {
    margin: 2em auto;
    width: 976x;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border: 1px solid #ddd;
    padding: 1em 0;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
}

.location__container {
    width: 70%;
}

.search__container {
    width: 30%;
}

.loading-spinner {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

.forecast-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid gray;

    .active {
        background: rgba(0, 0, 0, 0.2);
    }
}

.nav-link {
    background: none;
    border: none;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

.forecast-graph {
    display: flex;
    flex-direction: row;
    font-size: 11px;
}

.forecast-hour-column {
    text-align: center;
    border-right: 1px solid gray;
    padding: 0 3px;

    &:last-child {
        border: none;
    }
}

.forecast-hour-column__icon {
    width: 100%;

    img {
        width: 32px;
    }
}
