body {
    font-family: 'Roboto', sans-serif;
}

#app-root {
    margin: 2em auto;
    width: 600px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border: 1px solid #ddd;
    padding: 1em;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;

    section {
        width: 50%;
    }
}

.loading-spinner {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

.forecast-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid gray;

    .active {
        background: rgba(0, 0, 0, 0.2);
    }
}

.nav-link {
    background: none;
    border: none;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}
